*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#restaurant-container{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    margin-top: 7%;
    width: 90%;
    align-items: center;
    /* justify-content: space-evenly; */
}
#restaurant-container img{
    height: auto;
    width: 200px;
}
#restaurant-container div{
    border: 1px solid;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 300px;
    margin: 15px;
}
#restaurant-container h2{
    font-size: 15px;
    margin: 5px;
}
#restaurant-container p{
    margin: 5px;
}
